<div class="ui container">
	<div class="example">
		<h4 class="ui header">Accordion</h4>
		<p>A standard accordion</p>
		<accordion>
			<div class="title">
				<i class="dropdown icon"></i>
				What is a dog?
			</div>
			<div class="content">
				<p>A dog is a type of domesticated animal. Known for its loyalty and faithfulness, it can be found as a
					welcome guest
					in many households across the world.</p>
			</div>
			<div class="title">
				<i class="dropdown icon"></i>
				What kinds of dogs are there?
			</div>
			<div class="content">
				<p>There are many breeds of dogs. Each breed varies in size and temperament. Owners often
					select a breed of dog that they find to be compatible with their own lifestyle and desires
					from a companion.</p>
			</div>
			<div class="title">
				<i class="dropdown icon"></i>
				How do you acquire a dog?
			</div>
			<div class="content">
				<p>Three common ways for a prospective owner to acquire a dog is from pet shops, private owners,
					or shelters.</p>
				<p>A pet shop may be the most convenient way to buy a dog. Buying a dog from a private owner allows you
					to assess the pedigree and upbringing of you dog before choosing to take it home. Lastly, finding
					your dog from a shelter, helps give a good home to a dog who may not find one so readily.</p>
			</div>
		</accordion>
	</div>

	<div class="example">
		<h4 class="ui header">Styled</h4>
		<p>A styled accordion adds basic formatting</p>
		<accordion styled>
			<div class="title">
				<i class="dropdown icon"></i>
				What is a dog?
			</div>
			<div class="content">
				<p>A dog is a type of domesticated animal. Known for its loyalty and faithfulness, it can be found as a
					welcome guest
					in many households across the world.</p>
			</div>
			<div class="title">
				<i class="dropdown icon"></i>
				What kinds of dogs are there?
			</div>
			<div class="content">
				<p>There are many breeds of dogs. Each breed varies in size and temperament. Owners often
					select a breed of dog that they find to be compatible with their own lifestyle and desires
					from a companion.</p>
			</div>
			<div class="title">
				<i class="dropdown icon"></i>
				How do you acquire a dog?
			</div>
			<div class="content">
				<p>Three common ways for a prospective owner to acquire a dog is from pet shops, private owners,
					or shelters.</p>
				<p>A pet shop may be the most convenient way to buy a dog. Buying a dog from a private owner allows you
					to assess the pedigree and upbringing of you dog before choosing to take it home. Lastly, finding
					your dog from a shelter, helps give a good home to a dog who may not find one so readily.</p>
			</div>
		</accordion>
	</div>

	<h2 class="ui dividing header">Variations</h2>

	<div class="example">
		<h4 class="ui header">Fluid</h4>
		<p>An accordion can take up the width of this container</p>

		<accordion styled fluid>
			<div class="title">
				<i class="dropdown icon"></i>
				What is a dog?
			</div>
			<div class="content">
				<p>A dog is a type of domesticated animal. Known for its loyalty and faithfulness, it can be found as a
					welcome guest
					in many households across the world.</p>
			</div>
			<div class="title">
				<i class="dropdown icon"></i>
				What kinds of dogs are there?
			</div>
			<div class="content">
				<p>There are many breeds of dogs. Each breed varies in size and temperament. Owners often
					select a breed of dog that they find to be compatible with their own lifestyle and desires
					from a companion.</p>
			</div>
			<div class="title">
				<i class="dropdown icon"></i>
				How do you acquire a dog?
			</div>
			<div class="content">
				<p>Three common ways for a prospective owner to acquire a dog is from pet shops, private owners,
					or shelters.</p>
				<p>A pet shop may be the most convenient way to buy a dog. Buying a dog from a private owner allows you
					to assess the pedigree and upbringing of you dog before choosing to take it home. Lastly, finding
					your dog from a shelter, helps give a good home to a dog who may not find one so readily.</p>
			</div>
		</accordion>
	</div>

	<div class="example">
		<h4 class="ui header">Inverted</h4>
		<p>An accordion can be formatted to appear on dark backgrounds</p>

		<accordion inverted>
			<div class="title">
				<i class="dropdown icon"></i>
				What is a dog?
			</div>
			<div class="content">
				<p>A dog is a type of domesticated animal. Known for its loyalty and faithfulness, it can be found as a
					welcome guest
					in many households across the world.</p>
			</div>
			<div class="title">
				<i class="dropdown icon"></i>
				What kinds of dogs are there?
			</div>
			<div class="content">
				<p>There are many breeds of dogs. Each breed varies in size and temperament. Owners often
					select a breed of dog that they find to be compatible with their own lifestyle and desires
					from a companion.</p>
			</div>
			<div class="title">
				<i class="dropdown icon"></i>
				How do you acquire a dog?
			</div>
			<div class="content">
				<p>Three common ways for a prospective owner to acquire a dog is from pet shops, private owners,
					or shelters.</p>
				<p>A pet shop may be the most convenient way to buy a dog. Buying a dog from a private owner allows you
					to assess the pedigree and upbringing of you dog before choosing to take it home. Lastly, finding
					your dog from a shelter, helps give a good home to a dog who may not find one so readily.</p>
			</div>
		</accordion>
	</div>


	<h2 class="ui dividing header">Examples</h2>

	<div class="example">
		<h4 class="ui header">Nested Accordions</h4>
		<p>
			An accordion can have multiple levels of nested content. This content can either
			be in a nested <code>accordion</code> or simply another level of <code>title</code> and
			<code>content</code>.
		</p>

		<accordion styled>
			<div class="active title">
				<i class="dropdown icon"></i>
				Level 1
			</div>
			<div class="active content">
				Welcome to level 1
				<accordion styled>
					<div class="active title">
						<i class="dropdown icon"></i>
						Level 1A
					</div>
					<div class="active content">
						<p>Level 1A Contents</p>
						<accordion styled>
							<div class="title">
								<i class="dropdown icon"></i>
								Level 1A-A
							</div>
							<div class="content">
								Level 1A-A Contents
							</div>
							<div class="title">
								<div class="dropdown icon"></div>
								Level 1A-B
							</div>
							<div class="content">
								Level 1A-B Contents
							</div>
						</accordion>
					</div>
					<div class="title">
						<i class="dropdown icon"></i>
						Level 1B
					</div>
					<div class="content">
						Level 1B Contents
					</div>
					<div class="title">
						<i class="dropdown icon"></i>
						Level 1C
					</div>
					<div class="content">
						Level 1C Contents
					</div>
				</accordion>
			</div>
			<div class="title">
				<i class="dropdown icon"></i>
				Level 2
			</div>
			<div class="content">
				<p>Welcome to level 2</p>
				<accordion styled>
					<div class="active title">
						<i class="dropdown icon"></i>
						Level 2A
					</div>
					<div class="active content">
						<p>Level 2A Contents</p>
						<accordion styled>
							<div class="title">
								<i class="dropdown icon"></i>
								Level 2A-A
							</div>
							<div class="content">
								Level 2A-A Contents
							</div>
							<div class="title">
								<i class="dropdown icon"></i>
								Level 2A-B
							</div>
							<div class="content">
								Level 2A-B Contents
							</div>
						</accordion>
					</div>
					<div class="title">
						<i class="dropdown icon"></i>
						Level 2B
					</div>
					<div class="content">
						Level 2B Contents
					</div>
					<div class="title">
						<i class="dropdown icon"></i>
						Level 2C
					</div>
					<div class="content">
						Level 2C Contents
					</div>
				</accordion>
			</div>
		</accordion>
	</div>

	<div class="example">
		<h4 class="ui header">Changing Trigger</h4>
		<p>
			An accordion normally triggers when its title is clicked. However you can
			change the trigger selector to specify an element inside a title to use as an activator
		</p>

		<accordion name="trigger">
			<div class="title">
				<i class="dropdown icon"></i>
				What is a dog?
			</div>
			<div class="content">
				<p>A dog is a type of domesticated animal. Known for its loyalty and faithfulness, it can be found as a
					welcome guest
					in many households across the world.</p>
			</div>
			<div class="title">
				<i class="dropdown icon"></i>
				What kinds of dogs are there?
			</div>
			<div class="content">
				<p>There are many breeds of dogs. Each breed varies in size and temperament. Owners often
					select a breed of dog that they find to be compatible with their own lifestyle and desires
					from a companion.</p>
			</div>
			<div class="title">
				<i class="dropdown icon"></i>
				How do you acquire a dog?
			</div>
			<div class="content">
				<p>Three common ways for a prospective owner to acquire a dog is from pet shops, private owners,
					or shelters.</p>
				<p>A pet shop may be the most convenient way to buy a dog. Buying a dog from a private owner allows you
					to assess the pedigree and upbringing of you dog before choosing to take it home. Lastly, finding
					your dog from a shelter, helps give a good home to a dog who may not find one so readily.</p>
			</div>
		</accordion>
	</div>

	<div class="example">
		<h4 class="ui header">
			Form Fields
		</h4>
		<p>
			An accordion can be used anywhere where content can be shown or hidden.
			For example, to show optional form fields.
		</p>

		<div class="ui segment">
			<div class="ui fluid form">
				<div class="two fields">
					<div class="field">
						<label>First Name</label>
						<input placeholder="First Name" type="text">
					</div>
					<div class="field">
						<label>Last Name</label>
						<input placeholder="Last Name" type="text">
					</div>
				</div>
				<accordion class="field">
					<div class="title">
						<i class="icon dropdown"></i>
						Optional Details
					</div>
					<div class="content field">
						<label>Maiden Name</label>
						<input placeholder="Maiden Name" type="text">
					</div>
				</accordion>
				<div class="ui secondary submit button">Sign Up</div>
			</div>
		</div>
	</div>

	<div class="example">
		<h4 class="ui header">
			Accordion Menu
		</h4>
		<p>An accordion can be used to create content drawers inside a menu</p>
		<accordion vertical menu>
			<div class="item">
				<a class="active title">
					<i class="dropdown icon"></i>
					Size
				</a>
				<div class="active content">
					<div class="ui form">
						<div class="grouped fields">
							<div class="field">
								<div class="ui radio checkbox">
									<input type="radio" name="size" value="small">
									<label>Small</label>
								</div>
							</div>
							<div class="field">
								<div class="ui radio checkbox">
									<input type="radio" name="size" value="medium">
									<label>Medium</label>
								</div>
							</div>
							<div class="field">
								<div class="ui radio checkbox">
									<input type="radio" name="size" value="large">
									<label>Large</label>
								</div>
							</div>
							<div class="field">
								<div class="ui radio checkbox">
									<input type="radio" name="size" value="x-large">
									<label>X-Large</label>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="item">
				<a class="title">
					<i class="dropdown icon"></i>
					Colors
				</a>
				<div class="content">
					<div class="ui form">
						<div class="grouped fields">
							<div class="field">
								<div class="ui checkbox">
									<input type="checkbox" name="small">
									<label>Red</label>
								</div>
							</div>
							<div class="field">
								<div class="ui checkbox">
									<input type="checkbox" name="medium">
									<label>Orange</label>
								</div>
							</div>
							<div class="field">
								<div class="ui checkbox">
									<input type="checkbox" name="large">
									<label>Green</label>
								</div>
							</div>
							<div class="field">
								<div class="ui checkbox">
									<input type="checkbox" name="x-large">
									<label>Blue</label>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</accordion>
	</div>
</div>
